* {
	box-sizing: border-box;
}

html {
	background-color: #0d1117;
	color: #bfbfbf;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0;
}

a {
	text-decoration: none;
	color: #c9d1d9;
}

a:hover {
	color: dodgerblue;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 10px;
}

.content-wrapper {
	border: 1px solid #30363d;
	border-radius: 20px;
	overflow: hidden;
}
.header-wrapper {
	background-color: #161b22;
	border-bottom: 1px solid #30363d;
	padding: 20px;
}
.header__link:hover {
	border-radius: 5px;
}
.header__text {
	font-size: 2rem;
	font-weight: 700;
	color: #e6edf3;
}
.desc-wrapper {
	color: #7d8590;
	border-bottom: 1px solid #30363d;
	padding: 10px 20px;
}
.nav {
	padding: 20px;
}

@media screen and (max-width: 576px) {
	.content-wrapper {
		width: 100%;
	}

	ul {
		gap: 15px;
	}
}
